<div id="<%= dom_id drug %>">
  <p>
    <strong>Category:</strong>
    <%= drug.category %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= drug.form %>
  </p>

  <p>
    <strong>Unit of measurement:</strong>
    <%= drug.unit_of_measurement %>
  </p>

</div>
