<h1>Editing insurance provider</h1>

<%= render "form", insurance_provider: @insurance_provider %>


<div>
  <%= link_to "View", @insurance_provider %> |
  <%= link_to "Back", insurance_providers_path %>
</div>
