<h1>Editing medical act</h1>

<%= render "form", medical_act: @medical_act %>

<br>

<div>
  <%= link_to "Show this medical act", @medical_act %> |
  <%= link_to "Back to medical acts", medical_acts_path %>
</div>
