<div id="<%= dom_id consumable %>">
  <p>
    <strong>Form:</strong>
    <%= consumable.form %>
  </p>

  <p>
    <strong>Unit of measurement:</strong>
    <%= consumable.unit_of_measurement %>
  </p>

</div>
